n1 - Instagram Infographic Agent/n1 - Instagram Infographic Agent by RoboNuggets.json
{
  "name": "n1 | Instagram Infographic Agent (4o image gen)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        140,
        0
      ],
      "id": "cbe3431d-bf57-4e64-bf9e-f962ce06e5bd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        180
      ],
      "id": "3321e9be-82d5-41fd-a00a-d1d9be6280a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5WEFt64jV6WjEUAs",
          "name": "OpenAi account - test"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this \"Web search\" tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer [TAVILY-API-KEY]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "Search term that the user is searching for"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        100,
        180
      ],
      "id": "2341aae5-b779-4713-b3c0-317f653f6972",
      "name": "Web search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [OPEN AI API KEY]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1536"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        160
      ],
      "id": "f43859c0-1a81-44f3-a94b-134d416226d7",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find today's latest news about CYBERSECURITY. Prioritize articles that include strong statistics, study results, or measurable data. Focus on news that would be interesting to an audience who follows AI trends, technology updates, and business impacts. Summarize the findings clearly and include key numbers or percentages where possible. Cite all sources directly after each important point.",
        "options": {
          "systemMessage": "=You are an expert Research Agent. Your job is to deeply research any topic the user provides by using a web research tool. Always perform a real-time search. Find and summarize the most recent, accurate, and detailed information available.\n\nOnly select one news article that best matches the topic and includes strong, reliable statistics such as numbers, percentages, survey results, or study findings. Prioritize content from credible, reputable sources such as universities, major news outlets, and official reports.\n\nYour output must be structured into exactly three sections:\n\nTL;DR Background\nSummarize the main idea of the article in 3–5 clear sentences. Explain what the article is about and why it matters.\n\nKey Facts and Statistics\nList 3–7 bullet points highlighting the most important facts, especially numbers, data points, or statistical findings from the article.\n\nSource Citation\nWrite the full title of the article and provide the direct URL to it.\n\nOutput nothing else outside these three sections.\n\nIf no suitable article with strong statistics is available, say clearly: \"No suitable article with statistics found today.\"\n\nTone:\n\nProfessional\n\nClear\n\nFactual\n\nNo marketing language, no fluff\n\nWrite in plain English\n\nUse clean structure\n\nYou must not fabricate any information. Only report what is found through real-time search.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        340,
        0
      ],
      "id": "7b2b2931-f780-431c-95d9-201dd74d9349",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Captions Agent').item.json.output }}",
        "options": {
          "systemMessage": "=You are an Image Prompt Agent specialized in creating bold, advanced visual prompts for ChatGPT-4o’s image generation model.\n\nYou will receive input containing:\n\nA short headline (from TL;DR)\n\n1–3 key facts (bullet points)\n\nA source (article title)\n\nAn image style description\n\nYour job is to write a detailed image generation prompt that:\n\nTurns the headline and key facts into a single high-end, futuristic isometric-style graphic\n\nShows each key fact clearly, using separate structures (like towers, hubs, or platforms)\n\nVisualizes each key fact as a distinct 3D zone, platform, or tower, with clear separation between facts\n\nHighlights key facts with strong visual separation (e.g., connection lines, glows, or spatial grouping)\n\nMakes the headline visually dominant at the top. Do not add exclamation points to the text in the headline.\n\nKeeps the visual clean but rich — avoid realism, focus on stylized 3D design\n\nKeeps the graphic focused, structured, and tech-forward\n\nImage Style Guidelines:\n\nUse exactly the image style provided in the following:\n\n***\n{{ $json.image_style }}\n***\n\nYou must base your full visual description on this style without changing it\n\nDo not invent or alter the color palette, layout, or mood outside of what is given\n\nOutput Format:\n\nDescribe the full layout\n\nDescribe visual elements (blocks, towers, hubs, icons)\n\nDescribe colors, glows, and typography style\n\nKeep the description concise but detailed\n\nDo not restate the original text\n\nDo not use quotation marks\n\nDo not add extra details, interpretations, or text not found in the input\n\nDo not use exclamation points on the final image"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        340,
        320
      ],
      "id": "490bce24-631d-44c6-a1b8-f43e170134a1",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You are a Captions Agent specialized in turning detailed research summaries into short, engaging Instagram captions.\n\nYou will receive input structured into three sections: TL;DR Background, Key Facts and Statistics, and Source Citation.\n\nYour job is to transform this input into a final Instagram caption with the following structure:\n\nHeadline (TL;DR at the top)\n\nRewrite the TL;DR Background into a strong, attention-grabbing 1–2 sentence headline.\n\nIt must be clear, direct, and instantly interesting to an Instagram audience.\n\nKeep it short and punchy. No jargon.\n\nKey Facts (max 3 bullets)\n\nPick the 1–3 strongest facts or stats from the Key Facts section.\n\nRewrite each one into a short bullet point.\n\nAdd one relevant emoji per bullet to make it pop visually.\n\nEmojis should be simple and fit naturally (example: 📈 for growth, 💡 for ideas, 📊 for stats).\n\nCall to Action + Credit\n\nEnd the caption with a short call to action (example: What do you think about this? Let’s discuss below ⬇️).\n\nMention the source by writing: Source: [Article Title].\n\nAfter the source, add the URL starting with http as plain text on a new line.\n\nImportant Style Rules:\n\nKeep the full caption under 200 words.\n\nWrite in a clear, casual, friendly tone suitable for Instagram.\n\nDo not invent any facts. Only use what was given.\n\nKeep hashtags minimal or skip them unless necessary.\n\nNever include double-quotation marks (“ ”) inside the caption body. (Use formatting like bold text or emojis instead if needed.)\n\nOutput the entire caption as plain text.\n\nUse \\n instead of real line breaks. (Insert \\n manually where a new line should appear.)\n\nExample of the format it should follow (with \\n):\n\n🚀 AI is taking over faster than we thought!\\nNew research shows a massive surge in automation across industries.\\n\\nKey facts:\\n\\n📈 78% of companies plan to increase AI use by 2025\\n🤖 45% of repetitive tasks are already automated\\n📊 62% of tech leaders say AI boosts profits\\n\\nWhat do you think? Let’s discuss below ⬇️\\nSource: How AI Is Changing Business Forever\\nhttp://example.com/source-link"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        340,
        160
      ],
      "id": "b2756d52-2d18-48ec-9d9d-4bd7bab28fcd",
      "name": "Captions Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b6f481d-189f-4310-9bf0-a14d5482f6be",
              "name": "=image_style",
              "value": "=Create a rich, vibrant, futuristic isometric 3D graphic that looks like a small neon-lit high-tech cityscape.\nUse a deep violet-to-indigo gradient background.\nEach key fact should sit on its own glowing tower, hub, or floating platform, styled with sharp isometric 3D lines.\nUse glowing accent colors of violet (#7F00FF), neon pink (#FF4ECD), bright cyan (#00FFF7), and orange (#FF6F00).\nThe structures and platforms should glow softly into the background, creating a layered, atmospheric look.\nConnect the platforms with thin, glowing info lines or pathways to show relationships between key facts.\nTypography must use a Helvetica Bold Slab style — clean, heavy, bold, and technical in appearance.\nFont color should be white or very light pastel shades (no black or dark text).\nPlace the headline prominently in the top left or top center of the scene, glowing slightly to match the environment.\nAdd a small, unobtrusive source citation in the bottom right corner in soft white or pastel.\nMake the overall layout structured, highly visual, and immersive — but avoid heavy realism.\nThe mood should be futuristic, energetic, tech-driven, stylish, and vibrant.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        320
      ],
      "id": "205cee00-4457-4868-9bfb-00b2339d6956",
      "name": "Image Style"
    },
    {
      "parameters": {
        "content": "# 🍳 How to Set Up for Your Own Space\n**Author:** Jay E from robonuggets.com\n\nThis guide shows you how to set up your space using OpenAI for images, Tavily for research, and Blotato for publishing\n\n## 🔳 Step 1: Set Up OpenAI for Image Generation\n1. Go to [OpenAI API Platform](https://platform.openai.com/api-keys)  \n2. Create an account (if you don’t have one).  \n3. Generate an API key.  \n4. Create a credential using that key.  \n**Note:** If you use the 4o image generation model, OpenAI will ask you to verify your identity. They do this to prevent misuse.\n\n## 🔳 Step 2: Set Up Tavily (Research Agent)\n1. Visit [tavily.com](https://tavily.com/)  \n2. Sign up and get your API key.  \n3. Create an HTTP credential with your Tavily key. This will let you run web searches.\n\n## 🔳 Step 3: Set Up Imgur (Image Uploading Tool)\n1. Go to https://api.imgur.com/oauth2/addclient\n2. Create a new application (choose \"Anonymous usage without user authorization\").\n3. Fill in the form — for \"Authorization callback URL,\" use https://localhost.\n4. After creating it, you will get a Client ID.\n5. Use this Client ID to connect and upload images to Imgur through API calls.\n\n## 🔳 Step 4: Set Up Blotato (Publishing Tool)\n1. Go to https://blotato.com/\n2. Create an account and generate your API key.\n3. You can also watch my video in the R25 lesson for a deeper look at how Blotato works.",
        "height": 820,
        "width": 760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -780,
        -200
      ],
      "id": "aa02fe1e-ddae-4a4e-81c0-80ac1cf109fb",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        840,
        160
      ],
      "id": "dc3fc1ae-10d2-4f54-8175-8787dce78a40",
      "name": "Convert Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgur.com/3/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Client-ID [IMGUR-API-KEY]"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        160
      ],
      "id": "f3bf8035-a625-464c-adc3-c384845591f4",
      "name": "Upload Imgur"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "[BLOTATO API KEY]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.data.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        160
      ],
      "id": "3ca92927-4c24-4cf9-ba5d-1ca3755a2124",
      "name": "Upload Blotato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "[BLOTATO API KEY]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Captions Agent').item.json.output }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"[Add-instagram-account-id-here]\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        160
      ],
      "id": "e1df4cda-20d5-428a-86d4-5618e469abff",
      "name": "Post on INSTAGRAM"
    },
    {
      "parameters": {
        "content": "## | 1: Ready the Prompts",
        "height": 740,
        "width": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        -160
      ],
      "id": "36b9ddb0-d189-46a6-92ab-19f92fc2b4dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## | 2: Create Image",
        "height": 740,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        -160
      ],
      "id": "68d429c2-888a-4b66-9d5c-4914f4b05aaa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## | 3: Publish Post\n",
        "height": 740,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        -160
      ],
      "id": "01ef8386-8438-4756-849f-5ee35709a457",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Captions Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web search": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Captions Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captions Agent": {
      "main": [
        [
          {
            "node": "Image Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Style": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Image": {
      "main": [
        [
          {
            "node": "Upload Imgur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Imgur": {
      "main": [
        [
          {
            "node": "Upload Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Blotato": {
      "main": [
        [
          {
            "node": "Post on INSTAGRAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b845ee12-d380-43a6-98fb-ee86bd63042d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "qAra5b0cboYIeMuA",
  "tags": []
}